extends _layout.pug

block scripts
	script(src="//cdn.jsdelivr.net/npm/phaser-ce@2.8.0")
	script(src="/scripts/bullet.js")
	script(src="/scripts/weapons.js")
	script(src="/scripts/enemy.js")
	script(src="/scripts/main.js")
	
block styles
	link(rel="stylesheet", href="/styles/site.processed.css")
	style.
		

block content
	main
		section#left
		section#game
		section#right